@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: #f7e9e3;
  text-align: center;
  color: gray;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 50px;
}

#myCanvas {
  background-image: url("https://t4.ftcdn.net/jpg/07/91/02/35/360_F_791023583_nT8lAiksRAIDr0r7Hn6YpnppRi7oepTf.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



